$hero-content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    font-size: 16px;
}

a.callout {
    @extend $hero-content;
    margin: 20px;
}

code.primary-example {
    @extend $hero-content;
    border: 2px solid #000;
}
