vendorize(property, value) {
    -moz-{property}: value;
    -webkit-{property}: value;
    -o-{property}: value;
    -ms-{property}: value;
    {property}: value;
}

div {
    vendorize(box-sizing, border-box);
}
