p {
    &:first-child {
        border-top: 1px solid #000;
    }

    &:last-child {
        border-top: 1px solid #000;
    }
}

p {
    margin: 20px 0;

    &.lead {
        font-style: italic;
        margin-bottom: 30px;
    }
}
