p {
    margin: 20px;

    span {
        background-color: #ccc;

        a {
            font-weight: bold;
            text-underline: none;
        }
    }

    strong {
        margin: 0px 10px;
    }
}
