color-menu() {
    nav {
        background-color: #dbffdb;
    }

    #help {
        background-color: #ff6a6a;

        a {
            color: #000;
        }
    }

    a {
        color: #006400;
    }
}

color-menu();
